/* Basic Style */
.page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.recomm {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.recomm img {
    width: 100%;
}

.recomm .recomm__more {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .recomm {
      text-align: center;
  }

}

.main-wrapper {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.sect__task-name {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.task-row-wrapper {
    display: flex;
}

ul {
    margin: 0;
    padding: 0px;
}

li,
h3 {
    list-style: none;
}

input,
button {
    outline: none;
}

.sect__btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.sect__btn:hover {
    color: #3a3A3a;
}

.sect__heading {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.sect__task-name_editable {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.sect__task-name_editable:focus {
    color: #333;
}

/* New Task */
.block-mb20 {
    display: block;
    margin: 0 0 20px;
}

#new-task {
    width: 318px;
}

/* Task list */
.sect__todo-row {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sect__todo-row > * {
    vertical-align: middle;
}

.sect__todo-row > .sect__done-mark {
    margin: 0 10px;
}

.sect__todo-row > .sect__task-name_static {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.sect__todo-row > .sect__task-name_editable {
    width: 226px;
}

.sect__btn.sect__btn_del .sect__del-ico {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.sect__btn.sect__btn_del .sect__del-ico:hover {
    transform: rotateZ(0);
}

/* Completed */
#compl-sect .sect__task-name_static {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.sect .sect__todo-row .sect__task-name_editable {
    display: none;
}

.sect .sect__todo-row.sect__todo-row_edit-mode .sect__task-name_editable {
    display: inline-block;
    width: 224px;
}

.sect .sect__todo-row.sect__todo-row_edit-mode .sect__task-name_static {
    display: none;
}